# ====================================================================================== #
#
#  Workflow : AWS PROD 브랜치 Rollback 파이프라인
#
#  Workflow 설명 :
#    - Input 받은 Commit ID 시점의 배포 정보로 Config Repo의 PROD 브랜치를 업데이트
#
#  Workflow Input :
#    - Commit ID
#        * Config Repo의 PROD 브랜치 Commit 중 Rollback 시점의 Commit ID
#
#  Workflow 상세 가이드 :
#    - https://lgu-cto.atlassian.net/wiki/spaces/CLOUDASSET/pages/37494850683/AWS+Rollback+Workflow
#
#  버전 : v1.0 
#
# ====================================================================================== #
name: PROD 브랜치 Rollback

on:
  workflow_dispatch:
    inputs:
      commitID:
        description: 'Rollback 시점의 Commit ID'     
        required: true

jobs:
  rollback-check:
    name: Rollback 시점 확인
    runs-on: ubuntu-latest
    outputs:
      image-id: ${{ steps.rollback-check.outputs.image-id }}

    steps:
    - name: 브랜치 확인
      run: |
        if [[ ${{ github.ref_name }} != prod ]]
        then
          echo "# !! Rollback Workflow 브랜치 선택 오류 !!" >> $GITHUB_STEP_SUMMARY
          exit 1
        fi

    - name: Rollback Commit Checkout
      uses: actions/checkout@v3
      with:
        ref: ${{ github.event.inputs.commitID }}

    - name: source_commit-id.dat 저장
      uses: actions/upload-artifact@v3
      with:
        name: source_commit-id.dat
        path: source_commit-id.dat

    - name: Rollback 대상 확인
      id: rollback-check
      run: |
        echo "### === Rollback 대상 Input ===" >> $GITHUB_STEP_SUMMARY
        echo "Rollback 실행자 : "${{ github.actor }} >> $GITHUB_STEP_SUMMARY
        echo "Input Commit ID : "${{ github.event.inputs.commitID }} >> $GITHUB_STEP_SUMMARY
        echo "<br/>" >> $GITHUB_STEP_SUMMARY

        echo "### === Rollback 대상 소스 빌드 Commit 및 PROD Tag 확인 ===" >> $GITHUB_STEP_SUMMARY
        cat source_commit-id.dat >> $GITHUB_STEP_SUMMARY
        echo "<br/>" >> $GITHUB_STEP_SUMMARY

        IMAGE_ID=`cat aws-eks/prod-yaml/deployment.yaml | yq '.spec.template.spec.containers[0].image'`        
        echo "### === Rollback 대상 이미지 ID 확인 ===" >> $GITHUB_STEP_SUMMARY
        echo ${IMAGE_ID} >> $GITHUB_STEP_SUMMARY

        echo "::set-output name=image-id::${IMAGE_ID}"

  PROD-Rollback:
    name: PROD 브랜치 Rollback 수행
    needs: rollback-check
    runs-on: ubuntu-latest
    environment: QA-Admin

    steps:
    - name: PROD 브랜치 Checkout
      uses: actions/checkout@v3
      with:
        path: prod-branch
        ref: prod
        token: ${{ secrets.GHP_TOKEN }}

    - name: source_commit-id.dat 삭제
      run: |
        rm prod-branch/source_commit-id.dat

    - name: source_commit-id.dat 반영
      uses: actions/download-artifact@v3
      with:
        name: source_commit-id.dat
        path: prod-branch

    - name: Rollback 이미지 ID 반영
      run: |
        echo "=== deployment.yaml 컨테이너 Image 변경 ==="
        DEPLOYMENT_FILE="prod-branch/aws-eks/prod-yaml/deployment.yaml"
        yq eval -i ".spec.template.spec.containers[0].image = \"${{ needs.rollback-check.outputs.image-id }}\"" ${DEPLOYMENT_FILE}

    - name: Rollback 대상 Commit Push
      working-directory: prod-branch
      run: |
        REPO_NAME=`echo ${GITHUB_REPOSITORY} | awk -F / '{ print $2 }'`
        git config user.name rollback.${REPO_NAME}
        git config user.email rollback.${REPO_NAME}@lguplus.co.kr
        git add .
        git commit -m "Rollback To - ${{ needs.rollback-check.outputs.image-id }}"
        git push
